{% block footer %}
	<footer>
		<div class="bg-ff-blue p-5 lg:py-20">
			<div class="container mx-auto flex justify-between flex-wrap gap-16">
				<div class="text-white flex flex-col gap-10 lg:gap-16">
					<a href="{{ siteUrl }}">
						<img src="{{ siteUrl }}static/img/footer-logo.svg" alt="logo" class="w-2/3">
					</a>
					<div>
						<p>Trading Number:
							{{ footer.tradingNumber }}</p>
						<p>Trading Email:
							{{ footer.tradingEmail }}</p>
					</div>
					<div>
						<p>Admin Number:
							{{ footer.adminNumber }}</p>
						<p>Admin Email:
							{{ footer.adminEmail }}</p>
					</div>
				</div>
				<div
					class="flex flex-wrap gap-16 lg:gap-56">
					{# PRODUCTS LINKS #}
					<div class="text-white flex flex-col gap-10">
						<h6 class="text-ff-yellow uppercase text-2xl">products</h6>
						<div class="flex flex-col">
							{% for link in footer.footerProducts.all() %}
								{% set destination = link.linkDestination.one() %}
								<a href="{{ destination.url }}">{{ link.linkTitle }}</a>
							{% endfor %}
						</div>
					</div>
					{# CONTACT US #}
					<div class="text-white flex flex-col gap-10">
						<h6 class="text-ff-yellow uppercase text-2xl">contact us</h6>
						<address class="not-italic">
							{{ footer.footerAddress }}
						</address>
						<div class="flex flex-col gap-10">
							<p>Tel:
								{{ footer.phone }}</p>
							<p>Email:
								{{ footer.email }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="p-5 lg:py-8">
			<div class="container mx-auto">
				<div class="grid grid-cols-6 divide-x divide-black justify-between items-center text-center gap-5 lg:gap-0 text-sm lg:text-base">
					<a href="https://www.cookiesandyou.com" target="_blank" class="col-span-2 lg:col-span-1">Cookie Consent</a>
					<a href="{{ siteUrl }}privacy" class="col-span-2 lg:col-span-1">Privacy</a>
					<a href="{{ siteUrl }}terms-of-use" class="col-span-2 lg:col-span-1">Terms of Use</a>
					<a href="{{ siteUrl }}sustainability" class="col-span-2 lg:col-span-1">Sustainability</a>
					<a href="" class="col-span-2 lg:col-span-1">Human Rights</a>
					<a href="{{ siteUrl }}static/pdf/tax-strategy.pdf" target="_blank" class="col-span-2 lg:col-span-1">Tax Strategy</a>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}
