{% block header %}
	<!-- Main navigation container -->
	<nav
		class="relative flex flex-nowrap items-center justify-between lg:flex-wrap lg:justify-start" data-te-navbar-ref>
		{# TOP BAR #}
		<div class="hidden lg:flex justify-between items-center w-full gap-10 bg-ff-blue text-white py-3 px-16">
			<div class="divide-x flex items-center justify-center">
				<div class="flex gap-3 px-5 text-xs justify-center items-center">
					<i class="fa-solid fa-phone"></i>+44 (0) 208 332 1550
				</div>
				<div class="flex gap-3 px-5 text-xs justify-center items-center">
					<i class="fa-solid fa-envelope"></i>trading@feedfactors.co.uk
				</div>
			</div>
			<div class="divide-x flex items-center justify-center">
				<a href="/" class="flex gap-3 px-5 text-xs justify-center items-center">
					Tax Strategy
				</a>
				<a href="/" class="flex gap-3 px-5 text-xs justify-center items-center">
					Human Rights
				</a>
				<a href="/" class="flex gap-3 px-5 text-xs justify-center items-center">
					Charity
				</a>
				<a href="/" class="flex gap-3 px-5 text-xs justify-center items-center">
					Sustainability
				</a>
			</div>
		</div>
		{# NAV BAR #}
		<div class="flex w-full flex-wrap items-center justify-between py-10 px-16">
			<div class="px-5">
				<a href="{{ siteUrl }}"><img src="{{ siteUrl }}static/img/header/header-logo.svg" alt="{{ siteName }}"></a>
			</div>
			<!-- Hamburger button for mobile view -->
			<button
				class="block border-0 bg-transparent px-2 text-ff-blue hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 lg:hidden" type="button" data-te-collapse-init data-te-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
				<!-- Hamburger icon -->
				<span class="[&>svg]:w-7">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="h-7 w-7">
						<path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"/>
					</svg>
				</span>
			</button>

			<!-- Collapsible navbar container -->
			<div
				class="!visible mt-2 hidden basis-full items-center lg:mt-0 lg:!flex lg:basis-auto" id="navbarSupportedContent2" data-te-collapse-item>
				<!-- Right links -->
				<ul class="text-slate-900 list-style-none mr-auto flex flex-col pl-0 lg:mt-1 lg:flex-row" data-te-navbar-nav-ref>
					{% for link in header.navLinks.all() %}
						{% set destination = link.linkDestination.one() %}
						<li class="my-4 pl-2 lg:my-0 lg:pl-2 lg:pr-5" data-te-nav-item-ref>
							<a class="focus:font-bold lg:px-2 " aria-current="page" href="{{destination.url}}" data-te-nav-link-ref>{{link.linkText}}</a>
						</li>
					{% endfor %}
					<!-- Products -->
					<li class="my-4 pl-2 lg:my-0 lg:pl-2 lg:pr-5" data-te-nav-item-ref>
						<div class="relative" data-te-dropdown-ref>
							<a class="flex items-center lg:px-2" href="#" type="button" id="dropdownMenuButton2" data-te-dropdown-toggle-ref aria-expanded="false">
								Products
								<span class="ml-2 w-2">
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" class="h-5 w-5">
										<path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"/>
									</svg>
								</span>
							</a>
							<ul class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden border-none bg-white bg-clip-padding text-left text-base divide-y [&[data-te-dropdown-show]]:block" aria-labelledby="dropdownMenuButton2" data-te-dropdown-menu-ref>
								{% for link in header.productLinks.all() %}
									{% set destination = link.linkDestination.one() %}
									<li>
										<a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal active:text-neutral-800 active:no-underline hover:bg-ff-blue hover:text-white duration-300" href="{{destination.url}}" data-te-dropdown-item-ref>{{link.linkText}}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

{% endblock header %}
