{% block marquee %}
	<div class="p-5 lg:p-10 my-16">
		<h5 class="text-2xl uppercase my-5 font-bold">accreditations</h5>
		<p class="text-ff-grey">Feed Factors is the only trading company in the UK to hold two queens awards for enterprise in the categories of ‘Innovation’ and ‘Sustainable Development’. We are also proud to achieve a carbon neutral status for our head office in addition to being part of the GAFTA sustainability pledge.</p>
		<div class="flex justify-center items-center">
			<div class="relative flex overflow-x-hidden my-10 lg:w-10/12">
				<div class="absolute top-0 bottom-0 right-0 bg-gradient-to-r from-transparent to-white z-10 w-20"></div>
				<div class="absolute top-0 bottom-0 left-0 bg-gradient-to-l from-transparent to-white z-10 w-20"></div>
				<div class="flex animate-marquee whitespace-nowrap gap-10">
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/cfs.webp"/>
					</div>
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/gafta-pledge.webp"/>
					</div>
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/gafta.webp"/>
					</div>
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/off.webp"/>
					</div>
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/qaei.webp"/>
					</div>
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/sedex.webp"/>
					</div>
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/qaes.webp"/>
					</div>
				</div>
				<div class="absolute flex top-0 animate-marquee2 whitespace-nowrap gap-10">
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/cfs.webp"/>
					</div>
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/gafta-pledge.webp"/>
					</div>
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/gafta.webp"/>
					</div>
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/off.webp"/>
					</div>
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/qaei.webp"/>
					</div>
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/sedex.webp"/>
					</div>
					<div class="w-44">
						<img src="{{siteUrl}}static/img/marquee/qaes.webp"/>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
