{% extends "index" %}
{% block content %}

	{% set image = entry.heroImage.one() %}
	<div class="hero 2xl:container 2xl:mx-auto bg-cover bg-center bg-no-repeat h-[38rem] w-full" style="background-image: url({{ image.getUrl('hero') }});"></div>
	<div class="container mx-auto hero-content text-center text-neutral-content rounded-lg my-10">
		<h1 class="p-5 text-slate-800 lg:p-10 text-2xl lg:text-5xl leading-normal font-bold uppercase">{{ entry.heroTitle }}</h1>
		<h2 class="p-5 lg:text-3xl lg:w-3/4 mx-auto uppercase">{{ entry.subTitle }}</h2>
	</div>

	<hr class="my-12 h-1 border-t-0 bg-ff-blue container mx-auto"/>

	<div class="p-5 lg:p-10 max-w-full">
		<div class="container mx-auto flex flex-col gap-20">
			<div class="flex justify-evenly">
				{% set featured1 = entry.featuredAward1.one() %}
				{% set featured2 = entry.featuredAward2.one() %}
				<img src="{{ featured1.getUrl('award') }}" alt="award" class="w-56 lg:w-96">
				<img src="{{ featured2.getUrl('award') }}" alt="award" class="w-56 lg:w-96">
			</div>
			<div class="flex flex-wrap justify-evenly gap-10">
				{% for award in entry.awards.all() %}
					{% set awardLogo = award.awardImage.one() %}
					<img src="{{ awardLogo.getUrl('award') }}" alt="award" class="w-28 lg:w-52">
				{% endfor %}
			</div>
		</div>
	</div>

	{% include "_contact-us-btn" %}

	{# MARQUEE #}
	{% include "_accreditations" %}
{% endblock %}
