{% extends "index" %}
{% set pageTitle = "Charity" %}
{% block content %}

	{% set image = entry.heroImage.one() %}
	<div class="relative flex flex-wrap justify-center items-center my-16">
		<div class="lg:absolute right-10 bg-cover bg-center bg-no-repeat h-96 w-96" style="background-image: url({{ image.getUrl('subImage') }});"></div>
		<div class="p-10 bg-ff-grey-2 max-w-full prose lg:prose-xl">
			<div class="lg:w-2/3">
				{{ entry.heroText }}
			</div>
		</div>
	</div>

	<div class="container mx-auto p-5 lg:p-0 my-20 grid grid-cols-2 gap-5 lg:gap-10 ">
		<h3 class="col-span-2 my-16 text-2xl lg:text-3xl font-bold">{{ entry.subTitle }}</h3>
		{% for charity in entry.proudToSupport.all() %}
			{% set logo = charity.charityLogo.one() %}
			<div class="col-span-2 lg:col-span-1 bg-ff-grey-2 p-5 lg:p-10 flex flex-col gap-5">
				<img src="{{ logo.getUrl('charityLogo') }}" alt="{{ charity.charityName }}" class="w-[550px] h-[300px] object-contain">
				<p class="">{{ charity.charityText }}</p>
			</div>
		{% endfor %}
	</div>

	{% include "_contact-us-btn" %}

	{# MARQUEE #}
	{% include "_accreditations" %}


{% endblock %}
