{% extends "index" %}
{% block content %}

	{% set image = entry.heroImage.one() %}
	<div class="hero min-h-screen bg-cover bg-center flex justify-center items-center" style="background-image: url({{ image.url }});">
		<div class="hero-content text-center text-neutral-content rounded-lg ">
			<h1 class="p-14 text-black text-5xl font-bold uppercase">{{ entry.heroTitle }}</h1>
		</div>
	</div>

	<div class="p-20 max-w-full prose lg:prose-xl">{{entry.heroText}}
	</div>

	{# PRODUCTS #}
	<div class="flex gap-10 px-20">
		{% for product in entry.products.all() %}
			{% set photo = product.photo.one() %}
			<div class=" flex justify-center items-center my-14">
				<div class="rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
					<div class="relative overflow-hidden bg-cover bg-no-repeat" data-te-ripple-init data-te-ripple-color="light">
						<img class="rounded-t-lg" src="{{photo.url}}" alt="{{product.productTitle}}"/>
						<a href="#!">
							<div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"></div>
						</a>
					</div>
					<div class="p-6">
						<h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
							{{product.productTitle}}
						</h5>
						<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
							{{product.description}}
						</p>
						<button type="button" class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" data-te-ripple-init data-te-ripple-color="light">
							more about
							{{product.productTitle}}
						</button>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
