{% extends "index" %}
{% block content %}

	{% set image = entry.heroImage.one() %}
	<div class="hero bg-cover bg-center bg-no-repeat h-[38rem] w-full" style="background-image: url({{ image.getUrl('hero') }});"></div>
	<div class="hero-content text-center text-neutral-content rounded-lg ">
		<h1 class="p-5 text-slate-800 lg:p-14 text-2xl lg:text-5xl leading-normal font-bold uppercase">{{ entry.heroTitle }}</h1>
	</div>

	{% include "_contact-us-btn" %}

	<div class="p-5 lg:p-20 max-w-full prose lg:prose-xl">{{entry.heroText}}
	</div>

	{# PRODUCTS #}
	<div class="grid grid-cols-3 gap-10 p-5 lg:px-20">
		{% for product in entry.products.all() %}
			{% set photo = product.photo.one() %}
			{% set destination = product.productLink.one() %}
			<div class="col-span-3 lg:col-span-1 justify-center items-center my-14">
				<div>
					<div class="relative">
						<img class="aspect-square" src="{{photo.getUrl('productCardImage')}}" alt="{{product.productTitle}}"/>
						<a href="{{product.productLink}}">
							<div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full"></div>
						</a>
					</div>
					<div class="py-6">
						<h3 class="mb-2 text-2xl font-bold uppercase">
							{{product.productTitle}}
						</h3>
						<p class="mb-4 text-ff-grey ">
							{{product.description}}
						</p>
						<a href="{{destination.url}}" class="inline-block px-6 pb-2 pt-2.5 text-sm font-bold uppercase leading-normal transition duration-150 hover:bg-ff-btn-blue hover:text-ff-yellow ease-in-out border rounded-xl text-ff-grey">
							more about
							{{product.productTitle}}
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	{# PORTS AND STORAGE #}
	{% set featuredImage = entry.featuredServiceBackgroundImage.one() %}
	<div class="relative w-full h-[30rem] bg-no-repeat bg-cover" style="background-image: url({{ featuredImage.getUrl('featuredService') }});">
		<div class="absolute flex justify-end items-center top-0 bottom-0 left-0 right-0 bg-gradient-to-r from-transparent to-black/80 lg:bg-gradient-to-r lg:from-transparent lg:via-transparent lg:to-black/75">
			<div class="p-5 lg:p-16 lg:w-1/3 text-center flex flex-col justify-center items-center gap-8">
				<h4 class="text-white text-3xl font-bold uppercase">{{entry.featuredServiceTitle}}</h4>
				<p class="text-white text-lg">{{entry.featuredServiceDescription}}</p>
				<a class="w-fit py-4 px-6 text-white uppercase font-bold bg-ff-btn-blue rounded-xl" href="{{entry.featuredServiceLink}}">more about
					{{entry.featuredServiceTitle}}</a>
			</div>
		</div>
	</div>

	{# MARQUEE #}
	{% include "_accreditations" %}
{% endblock %}
